body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0;
    background-color: #efefef;
}

.about-us-container {
    width: 100%;
    height: 450px;
    /* background-color: #ebe4e4;  */
    color: black;
    margin-top: 0;
}

.about-us-content {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0%;
    margin-left: 15px;
    background: #d2b48c;
}

.about-us-content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 7rem;
    font-weight: 700;
}

.about-us-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: 10cm;
    border-radius: 2.5cm;
}

/**New Container of Owner information**/
.main-container {
    display: flex;
    margin-top:-200px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
}

.image {
    background-image: url('About-main.jpg');
    height: 475px;
    width: 475px;
    background-size: cover;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    width: 500px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-top: 380px;
    transition: 0.6s;
    transition: all 0.2s;
}

.name {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.444444;
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;
}

.occupation {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.625;
    color: #747474;
    text-decoration: none;
}

.socials-link {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.socials-link i {
    font-size: 23px;
    color: #ffffff;
    transition: all 0.2s;
    margin-right: 6px;
    margin-left: 6px;
    /* opacity: 0; */
}

.left-container:hover .details {
    transform: scale(1.2);
}

.socials-link:hover {
    opacity: 1;
}

/**Right Container**/

.right-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.right-container h3 {
    font-size: 40px;
    color: black;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 20px;
    margin-top: 54px;
}

.little-more-intro:before {
    display: inline-block;
    content: "";
    width: 45px;
    height: 2px;
    background-color: #6e3012;
    top: -3px;
    margin-right: 18px;
}

.little-more-intro {
    font-size: 12px;
    color: #969696;
    font-weight: 500;
    letter-spacing: 3.2px;
}

.para-intro {
    line-height: 1.6;
    font-size: 15px;
    color: #969696;
    font-weight: 400;
}

/**Information Set 2**/

.I2 {
    margin-left: 190px;
}

.info-set-2 {
    margin-top: 100px;
}

.image-info-set-2 {
    margin-left: 55px;
    height: 480px;
    width: 480px;
}

.image-2 {
    height: 455px;
    width: 455px;
}

.image-info-set-1 {
    margin-left: 190px;
    margin-top: 40px;
}

/**Info CSS**/
.info-container {
    background-color: #efefef;
    padding: 20px;
    text-align: center;
}

.info-container h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    color: #333;
    font-weight: 550;
}

.info-button {
    background-color: #3e777f;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 550;
    border: 1px solid black;
}

.info-button:hover {
    background-color: #7bc0c7;
    color: black;
}

/**Footer**/
.combine-footer-column {
    height: 190px;
    background-color: #e2e6e8;
    margin-top: 15px;
}

.combine-footer-column-inside {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

/*column 1*/
.column1 {
    display: flex;
    flex-direction: column;
    color: #000000;
    width: 200px;
    font-size: 0.85rem;
}

.logo {
    height: 100px;
    width: 180px;
    background-size: cover;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 130px;
    justify-content: space-between;
}

/*Column 2,3,4*/

.heading {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    margin: 6px 0px 14px;
}

.column {
    margin-top: 38px;
}

.column li {
    list-style: none;
}

.column a {
    text-decoration: none;
    color: #000000;
    font-size: 0.85rem;
}

.column a:hover {
    color: #255c63;
}

/*Footer Media Queries*/
@media only screen and (max-width: 428px) {
    .combine-footer-column {
        height: auto;
        padding: 15px;
    }

    .combine-footer-column-inside {
        flex-direction: column;
    }

    .column1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-media-icons {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }

    .column {
        margin-top: 15px;
    }
}

/**Footer**/
@media only screen and (max-width: 600px) {
    .combine-footer-column {
        height: auto;
    }

    .combine-footer-column-inside {
        flex-direction: column;
        align-items: center;
    }

    .column1,
    .column2,
    .column3,
    .column4 {
        margin-top: 0;
        text-align: center;
    }

    .column {
        margin-top: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .column1 {
        margin-left: 45px;

    }
}

/* Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-container,
    .image-info-set-1,
    .image-info-set-2 {
        height: auto;
        width: 100%;
        margin-left: 0;
    }

    .details,
    .image {
        height: auto;
        width: 100%;
    }

    .right-container,
    .I2 {
        margin-left: 0;
    }
}

/* Small screens */
@media screen and (max-width: 767px) {
    .main-container {
        flex-direction: column;
    }

    .left-container,
    .image-info-set-1,
    .image-info-set-2 {
        height: auto;
        width: 100%;
        margin-left: 2px;
    }

    .details,
    .image {
        height: auto;
        width: 100%;
    }

    .right-container,
    .I2 {
        margin-left: 0;
    }

    .image-2 {
        width: 100%;
        height: 400px;
    }
}


/* Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .about-us-content h1 {
        font-size: 5rem;
    }
}

/* Small screens */
@media screen and (max-width: 767px) {
    .about-us-content h1 {
        font-size: 3.5rem;
    }

    .about-us-content p {
        font-size: 0.85rem;
        line-height: 1;
        margin-left: 8px;
    }
}