* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

/**Navbar**/

/**Main bg of Course**/
.course-bg-main {
    display: flex;
    background-color: #d2b48c;
    background-size: cover;
    height: 150px;
    width: 100%;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: center;
}

/**Course title**/
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ca9af;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

.title p {
    font-size: 20px;
    font-weight: 700;
}

/**Course Details**/
.course-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**Course image container**/
.course-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    border: 2px solid #a6a6a6;
    background-color: #f7f8f9;
    margin-top: 25px;
}

/**Course Image**/
.course-image {
    height: 420px;
    width: 420px;
    background-size: cover;
}

/**Couse Details text**/
.course-details-text {
    margin-top: 40px;
    margin-left: 20px;
}

/**Main text**/
.text-main-title {
    font-size: 18px;
    line-height: 1.4;
    color: #212121;
}

.text-main-price {
    font-size: 28px;
    font-weight: 500;
    color: #212121;
}

/**Course small text**/

.course-small-title-text {
    font-size: 16px;
    font-weight: 550;
    color: #212121;
    margin-top: 15px;
    line-height:1;
}

.icon-text {
    display: flex;
    line-height: 1;
    font-size: 14px;
    color: #212121;
}

.icon-text p {
    margin-left: 7px;
}

.icon-text i {
    line-height: 1;
}

/**Connecting line**/
.connect-line {
    font-size: 20px;
    color: #212121;
    font-weight: 550;
    margin-top: 15px;
}

/**Buy Now**/
.buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 60px;
    background-color: #3e777f;
    margin-top: 20px;
    border:1px solid black;
}
.buy-now:hover{
      background-color: #7bc0c7;
      color: black;
}
.buy-now a {
    color: white;
    font-weight: 550;
    font-size: 25px;
    text-decoration: none;
}


/**Glimpses of course**/

/**Glimpses of course title**/
.glimpses-course-title {
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 28px;
    flex-direction: column;
}

.dash {
    color: #5c3f3f;
    font-size: 70px;
    margin-top: -65px;
}

/**Glimpses Gallery**/
.glimpses-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.glimpses-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 380px;
    background-color: #dbe0e3;
    margin-top: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: outset 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.glimpses-image {
    cursor: pointer;
    height: 360px;
    width: 360px;
    background-size: cover;
    transition: all 1.1s;
}

.glimpses-image-container:hover .glimpses-image {
    transform: scale(1.2);
}

/**insta logo inside image**/

.insta-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.6s;
    font-size: 30px;
    height: 360px;
    width: 360px;
    text-decoration: none;
    opacity: 0;
}

.insta-content i {
    color: #ffffff;
}

.glimpses-image:hover .insta-content {
    opacity: 1;
}

/**Footer**/
.combine-footer-column {
    height: 190px;
    background-color: #e2e6e8;
    margin-top: 15px;
}

.combine-footer-column-inside {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

/*column 1*/
.column1 {
    display: flex;
    flex-direction: column;
    color: #000000;
    width: 200px;
    font-size: 0.85rem;
}

.logo {
    height: 100px;
    width: 180px;
    background-size: cover;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 130px;
    justify-content: space-between;
}

/*Column 2,3,4*/

.heading {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    margin: 6px 0px 14px;
}

.column {
    margin-top: 38px;
}

.column li {
    list-style: none;
}

.column a {
    text-decoration: none;
    color: #000000;
    font-size: 0.85rem;
}

.column a:hover {
    color: #255c63;
}

/*Footer Media Queries*/
@media only screen and (max-width: 428px) {
    .combine-footer-column {
        height: auto;
        padding: 15px;
    }

    .combine-footer-column-inside {
        flex-direction: column;
    }

    .column1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-media-icons {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }

    .column {
        margin-top: 15px;
    }
}

/**Private Sessions**/

/**Auto type section**/
.auto-type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

.auto-type-container p {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    color: #5c3f3f;
}

.auto-type {
    color: #3e777f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
}

/**Private Sessions Photo section**/
.private-session-photos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    flex-wrap: wrap;
}

.photos {
    height: 390px;
    width: 21%;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.session-image {
    height: 320px;
    width: 100%;
    background-size: cover;
}

.photos p {
    font-size: 0.90rem;
    color: #3e777f;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 1.4;
}

/**Private Sessions Details Section**/
.session-details-heading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

/**Session inner details=Details+Book Now**/
.session-inner-details-book-now {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.book-now {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 270px;
    margin-left: 15px;
    background-color: #3e777f;
    border: 1px solid black;
}

.book-now:hover {
    background-color: #7bc0c7;
    color: black;
}


.book-now a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

/**FAQs CSS**/
.faq-container {
    max-width: 100%;
    background-color: #efefef;
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: #333;
}

.faq-item {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.faq-item p {
    font-size: 1rem;
    color: #000000;
}

.faq-item:hover {
    background-color: #efefef;
}

.question {
    color: #007bff;
    font-weight: 600;
}

.answer {
    color: #333;
    display: none;
    margin-top: 10px;
}


/* Media Query for Title line and Buy Now */
@media only screen and (max-width: 600px) {
    .course-bg-main p {
        font-size: 3rem;
    }

    .buy-now {
        width: 100%;
        margin-left: 0;
    }
}

/* Media Query for Footer and Private Session Photos */
@media only screen and (max-width: 600px) {

    /**Footer**/
    .combine-footer-column {
        height: auto;
    }

    .combine-footer-column-inside {
        flex-direction: column;
        align-items: center;
    }

    .column1,
    .column2,
    .column3,
    .column4 {
        margin-top: 0;
        text-align: center;
    }

    .column {
        margin-top: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .column1 {
        margin-left: 45px;
        ;
    }

    /**Private Sessions Photos**/
    .private-session-photos {
        flex-direction: column;
    }

    .photos {
        width: 100%;
    }
}

.class-main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:-450px;
    margin-bottom: 100px;
}

img{
    height:100px;
    object-fit: cover;
    width:85%;
}

.card{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:16%;
    height:240px;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    .card{
        width:calc(100%/1);
        width:60%;
        margin-top: 20px;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card {
    opacity: 0;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.card:nth-child(even) {
    animation-name: fadeInFromLeft;
}

.card:nth-child(odd) {
    animation-name: fadeInFromRight;
}


.head {
    text-align: center;
    margin: 25px 25px;
    font-size: 40px;
    color: black;
}

.image1 {
    width: 500px;
    height: 400px;
    margin: 25px 25px;
}

.navbar-brand img {
    height: 50px;
    margin: 0px 0px;
    padding: 0px;
}

/* Contact Us page */
.wrapper {
    padding: 10px;
    max-width: 100%;
    margin: 30px auto;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    height: 80px;
    max-width: 100%;
    background-color: #d2b48c;
    font-family: 'Playfair Display', serif;
}

.icons {
    height: 40px;
    width: 40px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.col {
    flex: 1;
    /* margin: 10px; */
    padding: 10px;
    margin-right: 20px;
    border: 3px solid #d2b48c;
}

.col:hover {
    border: 3px solid #3e777f;
}

@media screen and (max-width:980px) {
    .columns .col {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .columns .col:last-child {
        flex-basis: 100%;
        margin: 0;
    }

    .columns .col:nth-last-child(2) {
        margin-right: 0;
    }
}

@media screen and (max-width:680px) {
    .columns .col {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}
